service: fastapi-products-api
frameworkVersion: "3"

provider:
  name: aws
  runtime: python3.11
  region: ap-south-1
  memorySize: 512
  timeout: 30
  environment:
    DB_HOST: database-1.crwq6am4umr2.ap-south-1.rds.amazonaws.com
    DB_NAME: postgres
    DB_USER: postgres
    DB_PASS: Inventory123*
  vpc:
    securityGroupIds:
      - sg-04ebbbd2462cbae21
    subnetIds:
      - subnet-04b76deb4de2e3481
      - subnet-050a42b981b238cd4
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - ec2:CreateNetworkInterface
            - ec2:DescribeNetworkInterfaces
            - ec2:DeleteNetworkInterface
            - ec2:DescribeInstances
            - ec2:AttachNetworkInterface
          Resource: '*'

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true
    layer: false
    slim: true
    slimPatterns:
      - "**/*.py[c|o]"
      - "**/__pycache__*"
      - "**/.git/**"
    zip: false
    useDownloadCache: false
    useStaticCache: false
    noDeploy:
      - boto3
      - botocore

functions:
  api:
    handler: app.main.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY


