name: Deploy Frontend to S3

on:
  push:
    paths:
      - "frontend/**"
    branches:
      - master

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: ./frontend
        run: npm install

      - name: Build React App
        working-directory: ./frontend
        run: CI=false npm run build

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Upload to S3
        run: |
          aws s3 sync ./frontend/build s3://ele-inventory-app --delete

      - name: Invalidate CloudFront Cache
        run: |
          aws cloudfront create-invalidation \
              --distribution-id E1AUXK7J0ZRNI5 \
              --paths "/*"
